.formbox {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(155, 159, 219, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(47%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(155, 159, 219, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(155, 159, 219, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(155, 159, 219, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(155, 159, 219, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(155, 159, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9b9fdb', GradientType=1 );
  border: 1px solid black;
  border-radius: 60px;
  height: 430px;
}

.formbox h1 {
  font-size: 25px;

  font-family: "Nerko One", cursive;
}

.formbox input {
  font-size: 15px;
  background-color: #f9fffda1;
  width: 90%;
  font-family: "Courier Prime", monospace;
}

.formbox textarea {
  font-size: 15px;
  font-family: "Courier Prime", monospace;
  background-color: #f9fffda1;
  min-height: 120px;
  width: 90%;
}
.formbox button {
  font-size: 19px;
  background-color: #f9fffda1;
  padding: 10px 20px;
  width: 50%;
}
